<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        
        <!-- 공통 css -->
        <!-- 로컬 -->
        <!-- <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/main.css"> -->

        <!-- 서버 -->
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">

        <!-- 구글 폰트 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lobster&family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;700&display=swap" rel="stylesheet">

        
        <!-- 공통 js plugins -->
        <script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>
		<script type="text/javascript" th:src="@{/js/showTmpImage.js}" ></script>

        <!-- default_layout 사용하는 페이지 단독으로 넣을 css 공간 -->
        <th:block layout:fragment="css">

        </th:block>

        <!-- default_layout 사용하는 페이지 단독으로 넣을 script 공간 -->
        <th:block layout:fragment="script">

        </th:block>
    </head>

    <body>
        <div id="wrapper">
            <div id="content-wrapper">
                <!-- header fragment 사용 -->
                <th:block th:replace="/fragments/header :: headerFragment"></th:block>
                
                <main>
                    <!-- 본문-->
                    <th:block layout:fragment="content"></th:block>
                </main>

            </div>
            <!-- footer fragment 사용-->
            <th:block th:replace="/fragments/footer :: footerFragment"></th:block>
        </div>
        
    </body>

    <!-- <body id="page-top">
        <div id="wrapper">
            <div id="content-wrapper">

                <th:block th:replace="/fragments/header :: headerFragment"></th:block> 

                <div id="content">

                    <th:block layout:fragment="content"></th:block>
                </div>
            </div>

            <th:block th:replace="/fragments/footer :: footerFragment"></th:block>
        </div>
    </body> -->
</html>