<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <!-- 로컬 -->
    <head>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/main.css">

        <script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>
    </head>

    <th:block th:fragment="headerFragment">
        <!-- header -->
        <header id="main-header">
            <div class="container flex-between">
                <h1 class="logo">
                    <a href="/homes">Homey
                        <i class="fa-solid fa-house fa-l"></i>
                    </a>
                </h1>
                <ul sec:authorize="isAuthenticated()" class="flex-end">
                    <!-- 추후 이름 클릭 시 마이페이지 이동 어떤지? -->
                	<li><span sec:authentication="name"></span> <span>님</span></li>
                	<li><a href="/logout" th:value="로그아웃">로그아웃</a></li>
                </ul>
                <ul class="flex-end" sec:authorize="isAnonymous()">
	                <li><a href="/loginForm" th:value="로그인">로그인</a></li>
	                <li><a href="/users/new" th:value="회원가입">회원가입</a></li>
                </ul>
            </div>
        </header>
    </th:block>
</html>