<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <!-- 로컬 -->
    <head>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/main.css">
        <script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>   
        <script type="text/javascript" th:src="@{/js/header.js}" ></script>
    </head>

    <th:block th:fragment="headerFragment">
        <!-- header -->
        <header id="main-header">
            <div class="container flex-between">
                <h1 class="logo">
                    <a href="/homes">Homey
                        <i class="fa-solid fa-house fa-l"></i>
                    </a>
                </h1>
                <!-- 로그인시 -->
                <div sec:authorize="isAuthenticated()">
                <!-- 햄버거 버튼 추가 및 nav 추가 -->
                <label for="toggle" class="header_toggle">≡</label>
                <input type="checkbox" id="toggle">
                <nav>
	                <ul  class="flex-end">
	                    <!-- 추후 이름 클릭 시 마이페이지 이동 어떤지? -->
	                	<li><span sec:authentication="name"></span><span>님</span></li>
	                    <li><a th:if="${writer!=null}" th:href="@{|/users/${writer.user_id}|}">마이페이지</a></li>
	                    <li><a th:if="${writer!=null}" th:href="@{/homes/{id}(id=${writer.user_id})}">마이홈</a></li>
	                    <li sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_MANAGER')"><a th:href="@{/users}">회원목록</a></li>
	                    <li><a href="/logout" th:value="로그아웃">로그아웃</a></li>
	                </ul>
                </nav>
                </div>
                
                <!-- 로그아웃시 -->
                <div sec:authorize="isAnonymous()">
                <!-- 햄버거 버튼 추가 및 nav 추가 -->
                <label for="toggle" class="header_toggle">≡</label>
                <input type="checkbox" id="toggle" style="visibility:none;">
                <nav>
                <ul class="flex-end" >
	                <li><a href="/loginForm" th:value="로그인">로그인</a></li>
	                <li><a href="/users/new" th:value="회원가입">회원가입</a></li>
                </ul>
                </nav>
                </div>
            </div>
        </header>
    </th:block>
</html>