<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout}">	
<head>
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/addUser.css}">
<style>
#eye {
	height: 1em;
}
</style>
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/addUser.js}" ></script>
</th:block>

<meta charset="UTF-8">
<title>회원가입화면</title>
</head>
<body layout:fragment="content">
<div class = "container">
	<div class="content-wrap">
		<p class="mainText">Homey 회원가입</p>
		<p>Homey는 필수적인 정보만으로 회원을 관리합니다.</p>
		<!-- <div><img src="/img/welcome.gif"></div> -->
		<!-- <p>닉네임에는 공백이 들어갈 수 없습니다.</p> -->
		<form th:action="@{/users/new}" method="post" onsubmit="return gowith();">
			<ul>
				<li>
					<label for="usernick"><span>*</span>닉네임</label>
					<input type="text" class="usernick_input" id="formnick" name="usernick" onchange="retry()" required="required" maxlength='16'>
					<button type="button" id="idchk_button" onclick="javascript:check_id();" >중복검사</button>
					<span class="text" id="check_nick"></span>
				</li>
				<li>
					<label for="userpass"><span>*</span>비밀번호</label>
					<input type="password" name="userpass" id="pw" onchange="javascript:check_pw();" required>
					<!-- <div id="eyeIcon"><img alt="프로필_img" id="eye" src="/img/eye_Icon01.jpg" onclick="javascript:passwordShowHide()"></div> -->
					<div id="eyeIcon"><i class="fa-solid fa-eye fa-lg" onclick="javascript:passwordShowHide()"></i></div>			
				</li>
				<li>
					<label for="userpass2"><span>*</span>비밀번호확인</label>
					<input type="password" name="userpass2" id="pw2" onchange="javascript:check_pw();" required>
					<span class="text" id="check_pw"></span>	
				</li>
				<li>
					<label class="birth" for="userbirth">생년월일</label>
					<input type="date" name="userbirth">			
				</li>
			</ul>
			<button type="submit" id='target_btn' class="btn-submit">가입하기</button>
		</form>
	</div>	
</div>
	
</body>
</html>