<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout}">	
<head>
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/addUser.js}" ></script>
</th:block>

<meta charset="UTF-8">
<title>회원가입화면</title>
</head>
<body layout:fragment="content">
<div class = "container">
		<h3>Homey의 회원가입 화면입니다!<br></h3>
		<h4>Homey는 필수적인 정보만으로 회원을 관리합니다.</h4>
		
		
		<form th:action="@{/users/new}" method="post">
			<label>닉네임</label>:
			<input type="text" class="usernick_input" id="formnick" name="usernick" required="required" maxlength='5'><br>
			<button type="button" id="idchk_button" onclick="javascript:check_id();" >중복검사</button><br>
			<span id="check_nick"></span><br>
			<label>비밀번호</label>:
			<input type="password" name="userpass" id="pw" onchange="javascript:check_pw();" required><br>
			<label>비밀번호확인</label>:
			<input type="password" name="userpass2" id="pw2" onchange="javascript:check_pw();" required><br>
			<span id="check"></span><br>
			<label>생년월일</label>:
			<input type="date" name="userbirth">
			<br>
			<span id="hey"></span><br>
			<button type="submit" id='target_btn' disabled>가입하기</button>
		</form>
	</div>
	
</body>
</html>