<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout}"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >	
<head>

	<!-- 로컬 -->
	<link rel="stylesheet" href="../../static/css/style.css">
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" href="../../static/css/myPage.css">
	<script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/myPage.css}">
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/myPage.js}" ></script>
	<script type="text/javascript" th:src="@{/js/tab.js}"></script>
</th:block>
<meta charset="UTF-8">
<title>마이페이지</title>

<script>
</script>

</head>
<body layout:fragment="content">
	<div class = "container">
		<section>
			<div class="imgbox">
				<img th:if="${attach!=null}" class="upload" alt="프로필_img" th:src="|/images/${attach.getATTF_SERNM()}|"/>
				<img th:unless="${attach!=null}" class="upload" alt="프로필_img" src="/img/user_icon.png"/>
			</div>
			<div class="img-btn-box">
				<button class="img-btn" onclick="imgReset(this)">Reset</button>
			</div>
			<form method="post" enctype="multipart/form-data" >
				<input id="uploadFile" type="file" class="real-upload" accept="image/*" required multiple style="display: none;">
				<input type="hidden" id="attf_id" name="attf_id" th:value="${users.attf_id}">
			</form>
		</section>
		<section>
			<div class="content-wrap">

				<!-- Tab links -->
				<div class="tab flex-between">
					<button class="tablinks active" onclick="openTab(event, 'myPageUpdateInfo')">내 정보 수정</button>
					<button class="tablinks" onclick="openTab(event, 'myPageUpdatePw')">비밀번호 변경</button>
				</div>

				<!-- Tab content -->
				<div id="myPageUpdateInfo" class="tabcontent" style="display: block;">
					
					<form id="myPageUpdateFrm" name="myPageUpdateFrm" method="post" action="/users/myPage" onsubmit="return sumitBtn();">
						<input type="hidden" id="user_id" name="user_id" th:value="${users.user_id}">
						<input type="hidden" id="usernick" name="usernick" th:value="${users.usernick}">

						<ul>
							<li>
								<label for="nickChage">닉네임</label>
								<input type="text" id="nickChage" name="nickChage" th:value="${users.usernick}" >
								<button class="mypageCheck" id="nickCheckBtn" type="button" onclick="javascript:check_id();">중복검사</button>
							</li>
							<li>
								<label for="userbirth" >생일</label>
								<input type="date" id="userbirth" name="userbirth" th:value="${#dates.format(users.userbirth, 'yyyy-MM-dd')}"><span class="input_des"> 생일 미입력시 생일 이벤트를 놓칠 수 있습니다.</span>
							</li>
							<li>
								<label for="userjoin" >회원가입일</label>
								<input type="text" id="userjoin" name="userJoin" th:value="${#dates.format(users.userjoin, 'yyyy-MM-dd mm:ss')}" readonly="readonly">
							</li>
						</ul>
						<button type="submit" name="submit" class="btn-submit bg-green" >수정</button>
					</form>
				</div>
				
				<!-- Tab content -->
				<div id="myPageUpdatePw" class="tabcontent">
					<form id="pwUpdateFrm" name="pwUpdateFrm" method="post" action="/users/pwUpdate" onsubmit="return UpdatePwBtn();">
						<ul>
							<input type="hidden" name="user_id" th:value="${users.user_id}">
							<li>
								<label for="userpass">기존 비밀번호</label>
								<input type="password" id="userpass" name="userpass" placeholder="비밀번호를 입력하세요.">
								<button class="mypageCheck" id="pwdCheckBtn" type="button" onclick="javascript:pwdCheck()">체크</button>
							</li>
							<li>
								<label for="updatePw">변경 비밀번호</label>
								<input type="password" id="updatePw" name="updatePw" placeholder="변경할 비밀번호를 입력하세요." onchange="javascript:check_pw();" required>
								<div id="eyeIcon"><i class="fa-solid fa-eye fa-2x"></i></div>
							</li>
							<li>
								<label for=""></label>
								<input type="password" id="updatePwConfirm" name="updatePwConfirm" placeholder="변경할 비밀번호를 한번 더 입력하세요." onchange="javascript:check_pw();" required>
								<span id="check"></span>
							</li>
						</ul>
						<button type="submit" name="submit" class="btn-submit bg-green">수정</button>
					</form>
				</div>
			</div>
		</section>
	</div>
</body>
</html>