<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout}"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >	
<head>
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/myPage.css}">
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/myPage.js}" ></script>
</th:block>
<meta charset="UTF-8">
<title>마이페이지</title>

</head>
<body layout:fragment="content">
	<div class = "container">
		<section>
			<div class="imgbox">
				<img th:if="${attach!=null}" class="upload" alt="프로필_img" th:src="|/images/${attach.getATTF_SERNM()}|"/>
				<img th:unless="${attach!=null}" class="upload" alt="프로필_img" src="/img/user_icon.png"/>
			</div>
			<div class="img-btn-box">
				<button class="img-btn" onclick="imgReset(this)">Reset</button>
			</div>
			<form method="post" enctype="multipart/form-data" >
				<input id="uploadFile" type="file" class="real-upload" accept="image/*" required multiple style="display: none;">
				<input type="hidden" id="attf_id" name="attf_id" th:value="${users.attf_id}">
			</form>
		</section>
		<section>
			<div class="content-wrap">
				<div><h1>내 정보 수정</h1></div>
				<div><a th:href="@{|/users/${users.user_id}/pwChange|}">비밀번호변경</a></div>
				<form id="myPageUpdateFrm" name="myPageUpdateFrm" method="post" action="/users/myPage">
					<div>
						<span><input type="hidden" id="user_id" name="user_id" th:value="${users.user_id}">
							<input type="hidden" id="usernick" name="usernick" th:value="${users.usernick}">
						</span>
					</div>
					<div>
						<span>닉네임</span>
						<span><input type="text" id="nickChage" name="nickChage" th:value="${users.usernick}" ></span>
						<button id="nickCheckBtn" type="button" onclick="javascript:check_id();">중복검사</button>
						<span id="nickCheck" style="display:none;">✔</span>
					</div>
					<div>
						<span>생일</span>
						<span><input type="date" id="userbirth" name="userbirth" th:value="${#dates.format(users.userbirth, 'yyyy-MM-dd')}"></span>
					</div>
					<div>
						<span>회원가입일</span>
						<span><input type="text" id="userjoin" name="userJoin" th:value="${users.userjoin}" readonly="readonly"></span>
					</div>
					<div>
						<button onclick="javascript:sumitBtn()">수정</button>
					</div>
				</form>
				
			</div>
		</section>
	</div>
</body>
</html>