<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}">
  <head>

	<!-- 로컬 -->
	<link rel="stylesheet" href="../../static/css/style.css">
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" href="../../static/css/myPage.css">
	<script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>	
	<!-- 고유 CSS 추가 -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/myPage.css}">
	</th:block>

    <!-- 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/tab.js}"></script>
		<script type="text/javascript" th:src="@{/js/userList.js}"></script>		
	</th:block>
    <script>
		
    </script>
    <meta charset="UTF-8" />
    <title>회원목록</title>
  </head>
  <body layout:fragment="content">
    <div class="container">
		<section>
			<div class="section-header">
				<h1 class="section-title">회원 관리</h1>
			</div>

			<!-- Tab links -->
			<div class="tab flex-between">
				<button class="tablinks active" onclick="openTab(event, 'userList')">회원 목록</button>
				<button class="tablinks" onclick="openTab(event, 'homeList')">홈 목록</button>
			</div>

			<!-- Tab content -->
			<div id="userList" class="tabcontent" style="display: block;">
				<ul>
					<li class="flex-between">
						<label class="list-col list-col-1" for="user_id">ID</label>
						<label class="list-col list-col-2" for="usernick">닉네임</label>
						<label class="list-col list-col-2" for="userbirth" >생년월일</label>
						<label class="list-col list-col-2" for="userjoin" >회원가입일</label>
						<label class="list-col list-col-2" for="userpower" >권한</label>
					</li>
					<!-- 추후 userpower는 fetch로 수정 -->
					<li class="flex-between" th:each="user:${users}">
						<span class="list-col list-col-1" id="user_id" th:text="${user.user_id}">1</span>
						<span class="list-col list-col-2" id="usernick" th:text="${user.usernick}">mango</span>
						<span class="list-col list-col-2" id="userbirth" th:text="${#dates.format(user.userbirth, 'yyyy-MM-dd')}">1994-04-21</span>
						<span class="list-col list-col-2" id="userjoin" th:text="${user.userjoin}">2022.10.21 13:13:13</span>
						<!--<span class="list-col list-col-2" id="userpower" name="userpower" th:text="${user.userpower}"></span> -->
						<!-- <select name="userpower" id="userpower" style="width: 100%;" th:value="${user.userpower}">
								<option th:each="role : ${T(com.ticktack.homey.auth.Role).values()}" 
								th:value="${role.name()}"
								th:text="${role.getLabel()}">사용자</option>
						</select> -->
						<select name="userpower" id="userpower" th:value="${user.userpower}" onchange="roleChange(this)">
							<th:block th:each="role : ${T(com.ticktack.homey.auth.Role).values()}">
								<option th:value="${role.name()}" th:text="${role.getLabel()}" th:selected="${role.name()} == ${user.userpower}">옵션</option>
							</th:block>	
						</select>
					</li>									
				</ul>
			</div>

			<!-- Tab content -->
			<div id="homeList" class="tabcontent">
				<ul>
					<li class="flex-between">
						<label class="list-col list-col-3" for="homename">홈 이름</label>
						<label class="list-col list-col-4" for="homeinst">홈 설명</label>
						<label class="list-col list-col-2" for="homeuse" >활성화여부</label>
					</li>
					<!-- 추후 userpower는 fetch로 수정 -->
					<li class="flex-between" th:each="home:${homes}">
						<input type="hidden" id="homeId" th:value="${home.homeid}">
						<span class="list-col list-col-3" id="homename">
							<a class="hypertext" th:href="|/home/${home.homeid}|" th:text="${home.homename}">MANGO의 집</a>
						</span>
						<span class="list-col list-col-4" id="homeinst" th:text="${home.homeinst}">요즘 사이버펑크가 좋다</span>
						<!-- <span class="list-col list-col-2" id="homeuse" name="homeuse" th:text="${home.homeuse}"></span> -->
						<!-- <select id="homeuse" name="homeuse">
								<option th:each="homeuse : ${T(com.ticktack.homey.domain.HomeUse).values()}" 
								th:value="${homeuse}"
								th:text="${homeuse.getLabel()}">공개</option>
						</select> -->
						<select name="homeuse" id="homeuse" th:value="${home.homeuse}" onchange="useChange(this)">
							<th:block th:each="homeuse : ${T(com.ticktack.homey.domain.HomeUse).values()}">
								<option th:value="${homeuse.name()}" th:text="${homeuse.getLabel()}" th:selected="${homeuse.name()} == ${home.homeuse}">옵션</option>
							</th:block>	
						</select>
					</li>									
				</ul>
			</div>			
			<button id="btn-save-userpower" type="button" class="btn-submit btn-border bg-green">수정</button>

			
		</section>





      <!-- <div class="right" style="overflow-y: scroll; height: 400px">
        <h2>--집목록--</h2>

        <ul th:each="home:${homes}">
          <li>Id : <label th:text="${home.homeid}"></label></li>
          <li>집이름 : <label th:text="${home.homename}"></label></li>
          <li>집주인 : <label th:text="${home.userid}"></label></li>
          <li>집설명 : <label th:text="${home.homeinst}"></label></li>
          <li>사용여부 : <label th:text="${home.homeuse}"></label></li>
          <li>집 테마 : <label th:text="${home.homethema}"></label></li>
          <li>------------------------</li>
        </ul>
      </div> -->

      <div class="whohome"></div>
    </div>
  </body>
</html>
