<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}">
  <head>

	<!-- 로컬 -->
	<link rel="stylesheet" href="../../static/css/style.css">
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" href="../../static/css/myPage.css">
	<script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>	
	<!-- 고유 CSS 추가 -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/myPage.css}">
	</th:block>

    <!-- 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/tab.js}"></script>		
	</th:block>
    <script>
		window.onload=function(){
			const select_homeuse = document.querySelector('#homeuse');
			console.log("value_homeuse = ", select_homeuse.value);	
		}		
    </script>
    <meta charset="UTF-8" />
    <title>회원목록</title>
  </head>
  <body layout:fragment="content">
    <div class="container">
		<section>
			<div class="section-header">
				<h1 class="section-title">회원 관리</h1>
			</div>

			<!-- Tab links -->
			<div class="tab flex-between">
				<button class="tablinks active" onclick="openTab(event, 'userList')">회원 목록</button>
				<button class="tablinks" onclick="openTab(event, 'homeList')">홈 목록</button>
			</div>

			<!-- Tab content -->
			<div id="userList" class="tabcontent" style="display: block;">
				<ul>
					<li class="flex-between list-header pc">
						<label class="list-col list-col-1" for="user_id">ID</label>
						<label class="list-col list-col-2" for="usernick">닉네임</label>
						<label class="list-col list-col-2" for="userbirth" >생년월일</label>
						<label class="list-col list-col-2" for="userjoin" >회원가입일</label>
						<label class="list-col list-col-2" for="userpower" >권한</label>
					</li>
					<!-- 추후 userpower는 fetch로 수정 -->
					<li class="flex-between" th:each="user:${users}">
							<span class="list-col list-col-1 pc" id="user_id" th:text="${user.user_id}">1</span>
							<span class="list-col list-col-2 pc" id="usernick" th:text="${user.usernick}">mango</span>
							<span class="list-col list-col-2 pc" id="userbirth" th:text="${#dates.format(user.userbirth, 'yyyy-MM-dd')}">1994-04-21</span>
							<span class="list-col list-col-2 pc" id="userjoin" th:text="${user.userjoin}">2022.10.21 13:13:13</span>						
							
							<span class="list-col list-col-2 pc" id="userpower" name="userpower" th:text="${user.userpower}"></span>

							<!-- <select id="userpower" name="userpower" class="list-col list-col-2">
								<option th:each="role : ${T(com.ticktack.homey.auth.Role).values()}" 
									th:value="role" th:text="${role.label}"></option>
							</select>	 -->


						<div class="mobile">
							<div class="mobile-left">
								<span id="usernick" name="usernick" th:text="${user.usernick}"></span>
								(<span id="user_id" name="user_id" th:text="${user.user_id}"></span>)			
								<span id="userpower" name="userpower" th:text="${user.userpower}"></span>
							</div>
							<div class="mobile-right">
								<p>
									<span>생일</span> <span><span class="list-col list-col-2" id="userbirth" th:text="${#dates.format(user.userbirth, 'yyyy-MM-dd')}">1994-04-21</span></span>
								</p>
								<p>
									<span>가입일</span> <span class="list-col list-col-2" id="userjoin" th:text="${#dates.format(user.userjoin, 'yyyy-MM-dd')}">2022-10-21</span>						
								</p>
							</div>
						</div>
					</li>
					<li>

					</li>									
				</ul>
			</div>

			<!-- Tab content -->
			<div id="homeList" class="tabcontent">
				<ul>
					<li class="flex-between list-header">
						<label class="list-col list-col-3" for="homename">홈 이름</label>
						<label class="list-col list-col-4" for="homeinst">홈 설명</label>
						<label class="list-col list-col-2" for="homeuse" >활성화여부</label>
					</li>
					<!-- 추후 userpower는 fetch로 수정 -->
					<li class="flex-between" th:each="home:${homes}">
						<span class="list-col list-col-3" id="homename">
							<a class="hypertext" th:href="|/home/${home.homeid}|" th:text="${home.homename}">MANGO의 집</a>
						</span>
						<span class="list-col list-col-4" id="homeinst" th:text="${home.homeinst}">요즘 사이버펑크가 좋다</span>
						<!-- 
						<span class="list-col list-col-2" id="homeuse" name="homeuse" th:text="${home.homeuse}">
						 -->
						<select id="homeuse" name="homeuse" class="list-col list-col-2">
						    <option th:each="homeuse : ${T(com.ticktack.homey.domain.HomeUse).values()}" 
						        th:value="homeuse" th:text="${homeuse.label}"></option>
						</select>												
						</span>					
					</li>									
				</ul>
			</div>						
		</section>
    </div>
  </body>
</html>
