<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}">
  <head>

	<!-- 로컬 -->
	<link rel="stylesheet" href="../../static/css/style.css">
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" href="../../static/css/myPage.css">
	<script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>	
	<!-- 고유 CSS 추가 -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/myPage.css}">
	</th:block>
    <style>
      .left {
        border: 1px solid #cacaca;
        flex: 1;
        margin: 5px 5px;
        width: 45%;
        box-sizing: border-box;
        float: left;
      }
      .right {
        border: 1px solid #cacaca;
        flex: 1;
        margin: 5px 5px 5px 0px;
        width: 45%;
        box-sizing: border-box;
        float: right;
      }
    </style>

    <!-- 고유 스크립트 추가 -->
    <th:block layout:fragment="script"></th:block>
    <script>
      async function whohome(user_id) {
        const data = new data();
        data.append("user_id");

        fetch("/homes/" + user_id + "/select", {
          method: "POST",
          body: data,
        })
          .then((res) => res.text())
          .then(function (text) {
            alert(text);
          });
      }
    </script>
    <meta charset="UTF-8" />
    <title>회원목록</title>
  </head>
  <body layout:fragment="content">
    <div class="container">
		<!-- Tab links -->
		<div class="tab flex-between">
			<button class="tablinks" onclick="openCity(event, 'userList')">회원목록</button>
			<button class="tablinks" onclick="openCity(event, 'myPageUpdatePw')">홈 목록</button>
		</div>

		<!-- Tab content -->
		<div id="userList" class="tabcontent" style="display: block;">
			<ul>
				<li>
					<label for="user_id">ID</label>
					<label for="usernick">닉네임</label>
					<label for="userbirth" >생년월일</label>
					<label for="userjoin" >회원가입일</label>
					<label for="userpower" >권한</label>
				</li>
				<!-- 추후 userpower는 fetch로 수정 -->
				<li th:each="user:${users}">
					<span id="user_id" th:text="${user.user_id}">1</span>
					<span id="usernick" th:text="${user.user_id}">mango</span>
					<span id="userbirth" th:text="${#dates.format(user.userbirth, 'yyyy-MM-dd')}">1994-04-21</span>
					<span id="userjoin" th:text="${user.userjoin}">2022.10.21 13:13:13</span>
					<select name="userpower" id="userpower">
						<option th:each="role : ${T(com.ticktack.homey.auth.Role).values()}" 
						th:value="${role.name()}"
						th:text="${role.getLabel()}">사용자</option>
					</select>
					<!-- <span id="userpower" th:text="${user.userpower}"></span>  -->
					
				</li>
			</ul>

			
			
			<form id="myPageUpdateFrm" name="myPageUpdateFrm" method="post" action="/users/myPage">
				<!-- <input type="hidden" id="user_id" name="user_id" th:value="${users.user_id}">
				<input type="hidden" id="usernick" name="usernick" th:value="${users.usernick}">

				<ul>
					<li>
						<label for="nickChage">닉네임</label>
						<input type="text" id="nickChage" name="nickChage" th:value="${users.usernick}" >
						<button id="nickCheckBtn" type="button" onclick="javascript:check_id();">중복검사</button>
						<span id="nickCheck" style="display:none;">✔</span>
					</li>
					<li>
						<label for="userbirth" >생일</label>
						<input type="date" id="userbirth" name="userbirth" th:value="${#dates.format(users.userbirth, 'yyyy-MM-dd')}">
					</li>
					<li>
						<label for="userjoin" >회원가입일</label>
						<input type="text" id="userjoin" name="userJoin" th:value="${users.userjoin}" readonly="readonly">
					</li>
				</ul>
				<button class="btn-submit" onclick="javascript:sumitBtn()">수정</button> -->
			</form>
		</div>

      <!-- <div class="right" style="overflow-y: scroll; height: 400px">
        <h2>--집목록--</h2>

        <ul th:each="home:${homes}">
          <li>Id : <label th:text="${home.homeid}"></label></li>
          <li>집이름 : <label th:text="${home.homename}"></label></li>
          <li>집주인 : <label th:text="${home.userid}"></label></li>
          <li>집설명 : <label th:text="${home.homeinst}"></label></li>
          <li>사용여부 : <label th:text="${home.homeuse}"></label></li>
          <li>집 테마 : <label th:text="${home.homethema}"></label></li>
          <li>------------------------</li>
        </ul>
      </div> -->

      <div class="whohome"></div>
    </div>
  </body>
</html>
