<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout}">	
<head>
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>
<meta charset="UTF-8">
<title>회원목록</title>
</head>
<body layout:fragment="content">
	<div class = "container">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>닉네임</th>
					<th>생년월일</th>
					<th>가입일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.user_id}"></td>
					<td th:text="${user.usernick}"></td>
					<td th:text="${#dates.format(user.userbirth, 'yyyy-MM-dd')}"></td>
					<td th:text="${user.userjoin}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>