#main-homelist li {
    width: 30%;
    margin: 0 1rem 2rem;
}
#main-homelist li a {
    width: 100%;
}
#main-homelist li a .img-wrap {
    width: 100%;
    overflow: hidden;
}
#main-homelist li a .img-wrap img {
    width: 100%;
    height: 100%;
}
