/* default */

h2 {
	padding: 1em 0 1em 0;
	font-size: 2em;
	font-family: 'Gamja Flower', cursive;
	text-align: center;
}


.search_div{
	text-align : center;
	/* margin-left: 1rem; */
	margin-bottom: 2rem;
	font-size: 2em;
	font-family: 'Gamja Flower', cursive;
}

.main_input{
    font-size: 1.3rem;
	margin-right: 2rem;
    padding: 0.5rem 1rem;
    width: 60%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	font-family: 'Gamja Flower', cursive;
}

.main_search{
	font-size: 1.5rem;
	color: #0080ff;
	padding: 0.5rem 2rem;
	border: 1px solid #ccc;
	border-radius: 3em;
	font-family: 'Gamja Flower', cursive;
}


p {
	font-family: 'Gamja Flower', cursive;
	font-size: 1.5rem;
}

#main-homelist {
	text-align: center;
}

#main-homelist li {
	display : inline-block;
    width: 30%;
    margin: 0 1rem 0rem;
	min-height: 26.5rem;
}
#main-homelist li a {
    width: 100%;
    font-size: 1.5em;
    font-family: 'Gamja Flower', cursive;
    text-align: center;
}
#main-homelist li a .img-wrap {
    width: 100%;
    height: 15em;
    overflow: hidden;
}
#main-homelist li a .img-wrap img {
    width: 100%;
    height: 15em;
    height: 100%;
}




@media all and (max-width:768px){
	h2 {
		font-size: 2.2em;
		font-family: 'Gamja Flower', cursive;
		text-align: center;
	}
		
		#main-homelist {
		text-align: center;
	}
	
	#main-homelist li {
		display : inline-block;
	    width: 30%;
	    margin: 0 1rem 2rem;
	}
	#main-homelist li a {
	    width: 100%;
	    font-size: 1.5em;
	    font-family: 'Gamja Flower', cursive;
	    text-align: center;
	}
	#main-homelist li a .img-wrap {
	    width: 100%;
	    height: 15em;
	    overflow: hidden;
	}
	#main-homelist li a .img-wrap img {
	    width: 100%;
	    height: 15em;
	    height: 100%;
	}
	
}








@media all and (max-width:640px){
	h2 {
		font-size: 3em;
		font-family: 'Gamja Flower', cursive;
		text-align: center;
	}
	
	#main-homelist {
		text-align: center;
	}
	
	#main-homelist li {
		display : inline-block;
	    width: 100%;
	    margin: 0 1rem 2rem;
	}
	#main-homelist li a {
	    width: 100%;
	    font-size: 5em;
	    font-family: 'Gamja Flower', cursive;
	    text-align: center;
	}
	#main-homelist li a .img-wrap {
	    width: 100%;
	    height: 8em;
	    overflow: hidden;
	}
	#main-homelist li a .img-wrap img {
	    width: 100%;
	    height: 100%;
	}

}






@media all and (max-width:280px){
	h2 {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size: 2em;
		font-family: 'Gamja Flower', cursive;
		text-align: center;
	}
	
	#main-homelist {
		text-align: center;
	}
	
	#main-homelist li {
		display : inline-block;
	    width: 100%;
	    margin: 0 1rem 2rem;
	}
	#main-homelist li a {
	    width: 100%;
	    font-size: 2.7em;
	    font-family: 'Gamja Flower', cursive;
	    text-align: center;
	}
	#main-homelist li a .img-wrap {
		padding-left: 0.4em;
	    width: 98%;
	    height: 8em;
	    overflow: hidden;
	}
	#main-homelist li a .img-wrap img {
	    width: 98%;
	    height: 100%;
	}

}



