#wrapper {
    position: relative;
    height: 100%;
    /* height: auto;
    min-height: 100%; */
}
#content-wrapper {
    position: relative;
    height: auto;
    min-height: calc(100% - 14em);
    height: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 10em;
}

#main-header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #2585D9;
    height: 8.5em;
    z-index: 999;
}

.container {            
    height: 100%;
    margin: 0 auto;
    width: 70em;
}
#main-header .logo {
    height: 100%;
}
#main-header .logo a {
    font-size: 2.6em;
    height: 100%;
    line-height: 1.7em;
    font-family: 'Lobster', cursive;
    color: #fff;
}
#main-header li {
    width:auto;
    margin-right: 1em;
    font-size: 1.2rem;
    color: #fff;
}
#main-header li a, #main-header li span {
    font-size: 1.2rem;
    color: #fff;
}
#main-header li:hover a {
    color: aqua;
}
.header_toggle{
	display: none;
}
#toggle {
	display:none;
}
/*header에 nav처리*/


#main-footer {
    position: relative;
    width: 100%;
    height: 14em;
    border-top: 1px solid #ededed;
    background-color: #fff;
    padding: 2em 0 0 2em;
    
}

#main-footer .developers h3 {
    margin-bottom: 1em;
}
#main-footer .developers ul li {
    margin-bottom: 1em;
}
#main-footer .developers ul li:last-child {
    margin-bottom: 0;
}

.btn-border {
    display: inline-block;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 0.3em;
    font-family: 'Noto Sans KR', sans-serif;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.btn-border:hover {
    font-weight: bold;
}
.bg-green:hover {
    /* transform: translate(0.1em, 0.1em); */
    background-color : #20c996ce;
}
.bg-green {
    background-color: #20C997;
    color: #fff;
}
.bg-red {
    background-color: crimson;
    color: #fff;
}
.bg-red:hover {
    background-color: rgb(240, 58, 94);
}
.bg-white {
    background-color: #fff;
    color: #222;
}


section {
    position: relative;
    padding: 2em;
    margin: 2em 0;
}

section .section-header {
    position: relative;
    height: auto;
    margin-bottom: 2em;
}
section .section-title {
    text-align: center;
    font-size: 2em;
}


#image-container {
    max-width: 100%;
	max-height: 66rem;
    width: auto;
    height: auto;
    overflow: hidden;
}
#image-container img {
	max-width: 100%;
	width: auto;
    height: auto;
}

i.btn-delete {
    cursor: pointer;
}


/* 탭 */
/* Style the tab */
.tab {
	overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	width: 50%;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: background-color 0.3s;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #000;
}
.tab button:last-child {
    border-left: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
    opacity: 0.8;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: none;
	background-color: #fff;
    color: #000;
    font-weight: bold;
    border-bottom: none;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 2rem;
	border: 1px solid #ccc;
	border-top: none;
	position: relative;
	overflow: hidden;
}
.tabcontent ul li {
	margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tabcontent ul li.list-header {
	font-weight : bold;
}

.tabcontent ul li label {
	width: 9rem;
	font-size: 1.3rem;
}
.tabcontent ul li input{
	font-size: 1.3rem;
}
.tabcontent ul li input {
	margin-right: 2rem;
    padding: 0.5rem 1rem;
    width: 60%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

/* 중복체크 버튼 */
.tabcontent button.mypageCheck {
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.tabcontent button.btn-submit {
	float: right;
	font-size: 1.5rem;
	color: #fff;
	padding: 0.5rem 2rem;
	border: 1px solid #ccc;
}

.tabcontent ul li .list-col {
    font-size: 1.2rem;
}
.tabcontent ul li .list-col-1 {
    width: 10%;
}
.tabcontent ul li .list-col-2 {
    width: 20%;
}
.tabcontent ul li .list-col-3 {
    width: 30%;
}
.tabcontent ul li .list-col-4 {
    width: 40%;
}
.mobile {
	display: none;
	width: 100%;
	font-size: 1.1rem;
	border-radius: 1rem;
	border: 1px solid #ccc;
	padding: 1rem;
}
.mobile .mobile-left {
	width: 48%;
}
.mobile .mobile-left #usernick {
	font-size: 1.3rem;
	font-weight: bold;
}
.mobile .mobile-right {
	width: 48%;
	text-align: right;
}
.mark-role {
	color: #fff;
	border-radius: 0.5rem;
	padding: 0.3rem 0.5rem;
}
.bg-admin {
	background-color: darkviolet;
}
.bg-manager {
	background-color: deeppink;
}
.bg-user {
	background-color: salmon;
}





/*반응형을 위한 미디어 쿼리*/

@media all and (max-width:768px){
	#main-header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #2585D9;
    height: 8.5em;
    z-index: 999;
	}
	#main-header .logo {
	    height: 100%;
	}
	#main-header .logo a {
		
	    font-size: 2.6em;
	    height: 100%;
	    line-height: 1.7em;
	    font-family: 'Lobster', cursive;
	    color: #fff;
	}
	
	.container {
    height: 100%;
    margin: 0 auto;
    width: 70em;
	}
	.header_toggle{
	display: none;
	}
	
	#toggle {
		display:none;
	}
	
		/*header에 nav처리*/
	nav{
		position:relative;
		background: none; 
        width: auto;
        right: auto;
        left:auto; top:auto;
        display: block;
	}
	
	#main-header li {
		text-align:center;
	    width:auto;
	    margin-right: 1em;
	}
	#main-header li a, #main-header li span {
	    font-size: 1.2rem;
	    color: #fff;
	}
	#main-header li:hover a {
	    color: aqua;
	}
}



@media all and (max-width:640px){
	#main-header .logo {
	    height: 100%;
	}
	#main-header .logo a {
		padding-left:0.5em;
	    font-size: 2.3em;
	    height: 100%;
	    line-height: 1.7em;
	    font-family: 'Lobster', cursive;
	    color: #fff;
	}
	
	.container {
	    height: 100%;
	    margin: 0 auto;
	    width: 100%;
	}
	

	#toggle {
		display:none;
	}
	
	.header_toggle{
	display:inline;
    position:absolute; right:0.7em; top:0.5em;
    color:#fff; font-size:3em;
    cursor:pointer; /*손가락 모양 생기도록 한다.*/
	}
	
	
	
	/*header에 nav처리*/
	nav{
		position: absolute; left:0; right: 0; top:8.2em;
	    background-color: rgba(0,0,0,0.7);
	    display: none;
	}
	
	#main-header ul{
		display:block;
		align-items: center;
	}
	
	#main-header li {
		margin-right: auto;
		margin-left: auto;
		text-align: right;
		width:5em;
	
	}
	
	#main-header li a, #main-header li span {
		font-size:1.8em;
		text-align: center;
	}
	
	nav a{
	    width:5em;
	    display:flex; justify-content:space-between; /*space around 쓰면 왼쪽이 너비가 달라서 정렬이 엉망이 된다. 그래서 between으로 끝으로 붙이고 padding으로 좌우 여백 준다. space around보다 between을 더 자주 쓴다.*/
	    align-items:center; /*이거 없으면 위쪽으로 쏠린다.*/
	    color:#fff;
	    padding:-2px;
	}
	
	/*열고 닫기*/
	#toggle:checked + nav{display: inline;}

	.tabcontent {
		padding: 1rem;
	}
	.tabcontent .pc {
		display: none;
	}
	.tabcontent .mobile {
		display: flex;
	}
	.tabcontent ul li {
		margin-bottom: 1rem;
	}

	/* 마이페이지 */
	.tabcontent#myPageUpdateInfo ul li label {
		width: 7rem;
	}
	.tabcontent ul li input {
		width: calc(100% - 15rem);
		margin-right: 1rem;
	}
	.tabcontent#myPageUpdatePw ul li {
		display: block;
	}
	.tabcontent#myPageUpdatePw ul li label {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
	}
	.tabcontent#myPageUpdatePw ul li input {
		width: calc(100% - 6rem);
	}

	
	
}



@media all and (max-width:280px){
	#main-header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #2585D9;
    height: 7.5em;
    z-index: 999;
	}
	
	.container {
	    height: 100%;
	    margin: 0 auto;
	    width: 100%;
	}
	
	#main-header .logo {
	    height: 100%;
	}
	#main-header .logo a {
		padding-left:0.3em;
	    font-size: 2em;
	    height: 100%;
	    line-height: 1.7em;
	    font-family: 'Lobster', cursive;
	    color: #fff;
	}
	
	
	nav{
		position: absolute; left:0; right: 0; top:7.5em;
	    background-color: rgba(0,0,0,0.7);
	    display: none;
	}
	
	
	#main-header li {
		margin-right: auto;
		margin-left: auto;
		font-size:1em;
		text-align: right;
		width:5em;
	
	}
	#main-header li a, #main-header li span {
		font-size:1.8em;
		text-align: center;
	}
	
	



}

