@charset "UTF-8";

.imgbox {
	border-radius:50%;
	overflow: hidden;
	isolation: isolate;
	margin: 0 auto;
	width: 20em;
	height: 20em;
}

img {
	width: 100%;
	height: 100%;
}

.upload {
	width: 20em;
	height: 20em;
}

.img-btn-box {
	text-align: center;
}

.img-btn {
	font-size: 1.2em;
	padding: 0.5em 1em;
}

.input_des {
	margin-top : 1em;
	color : #2585D9;
}