#selectHome #content .container {
    width: 70em;
}
#selectHome section {
    background-color: #ededed;
}


canvas{z-index:10;pointer-events: none;position: fixed;top: 0;transform: scale(1.1);}


/* 프로필 영역 */
section#profile {
    width: 80%;
    background-color: #fff;
    padding: 1em;
    margin: 2em auto;
}
#profile .img-wrap {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2em;
}
#profile .img-wrap img {
	width: 100%;
	height: 100%;
}
#profile .intro-wrap {
    font-size: 1.5em;
    max-width: calc(100% - 10em);
    width: 100%;
}
#profile .intro-wrap p {
    margin-top: 1em;
}
.btn-setting {
    width: 2rem;
    height: 2rem;
    position: relative;
}
.btn-setting::before {
    font-size: 2rem;
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f013";
}
.btn-setting:hover::before {
    opacity: 0.7;
}


/* 게시물 목록 영역 */
#postList .section-header .btn-new {
    position : absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
    padding: 0.4em 2em;
    font-weight: bold;
}
#postList .no-resultList {
    font-size: 1.5em;
    text-align: center;
    padding: 2em;
    background-color: #fff
}

/* 바로 아래 자식 li에만 적용 */
#postList .list-wrap li {
    height: auto;
    background-color: #fff;
    margin-bottom: 1em;
}
#postList .list-wrap > li:last-child {
    margin-bottom: 0;
}
#postList .list-wrap li .content-wrap {
    padding: 1em;
}
#postList .list-wrap li .content-wrap .info {
    font-size: 1.2em;
}

/* 세로줄 삽입 */
#postList .list-wrap li .content-wrap .info span::after {
    content: "";
    display: inline-block;
    width: 0.1em;
    height: 1em;
    margin: 0 0.8em;
    background-color: #e4e8eb;
    vertical-align: -0.1em;
}
a.hypertext {
    color: blue;
    
}
a.hypertext:hover {
    text-decoration: underline;
}


#postList .list-wrap li .content-wrap .content p {
    margin: 1em 0;
    font-size: 1.5em;
}
#postList .list-wrap li .content-wrap .attf-name a{
    color: blue;
}
#postList .list-wrap li .content-wrap .attf-name:hover a {
    color: rgb(0, 110, 255);
}
#postList .list-wrap li .btn-wrap a, 
#postList .list-wrap li .btn-wrap button{
    font-size: 1.2em;
    padding: 0.3em 0.7em;
    margin: 0 0.2rem;
}
#postList .list-wrap li .content-wrap .btn-wrap a {
    margin-right: 0.3em;
}
#postList .list-wrap li .img-wrap {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 66rem;
    width: auto;
    height: auto;
    overflow: hidden;
}
#postList .list-wrap li .img-wrap img {
    max-width: 100%;
	width: auto;
    height: auto;
}


#postList .list-wrap li .comments {
    background-color: #FDDCE5;
}
#postList .list-wrap li .comments ul {
    /* border-bottom: 1px solid #ededed; */
    padding: 1em;
}

#postList .list-wrap li .comments ul li {
    margin-bottom:1.2em;
    background-color: #FDDCE5;
}
#postList .list-wrap li .comments ul > li:last-child {
    margin-bottom:0;
}

#postList .list-wrap li .comments .info span::after {
    content: "";
    display: inline-block;
    width: 0.1em;
    height: 1em;
    margin: 0 0.5em;
    background-color: grey;
    vertical-align: -0.1em;
}
#postList .list-wrap li .comments .content {
    margin: 0.5em 0;
    font-size: 1.2em;
}
#postList .list-wrap li .comments .input-wrap {
    width: 100%;
    background-color: #fcecf0;
    padding: 1em;
}
#postList .list-wrap li .comments .input-wrap input {
    width: calc(100% - 6rem);
    padding: 0.5em;
}
#postList .list-wrap li .comments .input-wrap input.updateInput {
    width: calc(100% - 7rem);
}
#postList .list-wrap li .comments .input-wrap button{
    font-size: 1.2em;
    padding: 0.5em 1em;
}
#postList .list-wrap li .comments .btn-wrap a, 
#postList .list-wrap li .comments .btn-wrap button{
    font-size: 1em;
    padding: 0.3em 0.7em;
}

#commLength {
	color : #777777;
	padding-left : 0.5em;
	font-size: 8px;
}



#commImg {
	display : inline-block;
	border-radius : 50%;
	width: 20px;
    height: 20px;
    overflow: hidden;
    margin-right : 10px;
}
#commImg > img {
	width : 100%;
	height : 100%;
}

.replyContent {
	padding-left: 25px;
}
