<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
layout:decorate="~{layout/default_layout}">	

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<title>Homey</title>

<!-- Content -->
<body layout:fragment="content">
    <!-- 여기에 html 코드 작성 -->
    <div class="container">
	    <h1>Homey</h1>
	
	    <div class="main-container" sec:authorize="isAuthenticated()">
	        <section>
				<h1>친구집 놀러가기</h1>
				<p th:if="${homes==0}" class="no-resultList" >등록된 홈이 없습니다.</p>
					<ul th:each="home : ${homes}">
					
						<li th:text ="${home.homename}">
							<a th:href="@{/homes/?homeId={id}(id=${home.homeid})}" th:text="${home.homename}"></a>
						</li>
					
					</ul>
			</section>
		</div>
		
		
		<div class="main-container" sec:authorize="isAnonymous()">
		<section>
				<h1>친구집 놀러가기</h1>
				<p th:if="${homes==0}" class="no-resultList" >등록된 홈이 없습니다.</p>
					<ul th:each="home : ${homes}">
					
						<li th:text ="${home.homename}">
							<a th:href="@{/loginForm}" th:text="${home.homename}"></a>
						</li>
					
					</ul>
			</section>
		</div>
		
	</div>
</body>
</html>