<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout}">	

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<title>Homey</title>

<!-- Content -->
<body layout:fragment="content">
    <!-- 여기에 html 코드 작성 -->
    <h3>Homey</h3>
    <div align="right">
	<form th:action="@{/doLogin}" method="post">
		<input type="text" name="usernick"> <br>
		<input type="password" name="userpass"> <br>
		<button>로그인</button>
	</form>
		<a th:href="@{/users/new}">회원가입</a>
	</div>
	
	<ul>
		<li>친구집 놀러가기</li>
		<li><a href="homey_s">사의집</a></li>
		<li><a href="homey_p">팝의집</a></li>
		<li><a href="homey_e">24의 집</a></li>
	</ul>
    
</body>
</html>