<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="~{layout/default_layout}">	

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<title>Homey</title>

<!-- Content -->
<body layout:fragment="content">
<h2>♣Homey와 함께 소통♣</h2><br>

	<form th:action="@{/login}" method="post" >
		<label>닉네임 :</label><input type="text" name="usernick"> <br>
		<label>비밀번호 :</label><input type="password" name="userpass"> <br>
		<button>로그인</button>
	</form>
	<div th:if="error">
		<p id="valid" style="color: red; font-size:12px;"><a th:text="${exception}"></a></p>
	</div>
</body>
</html>