<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" >
<head>	
</head>
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/comment.js}" ></script>
	<script type="text/javascript" th:src="@{/js/ajax.js}" ></script>
</th:block>	
<body>
	<section>
		<div>
			<h2>Comment List</h2>
			<p th:text="${postId} + '번째 게시글'">해당되는 게시글이 존재하지 않습니다.<p>
		</div>
		<div th:postId="${postId}" class="comments">
			<ul>
		       <li th:each="comment : ${commList}" th:commId="${comment.commId}" th:commUpid="${comment.commUpid}">
					<div class="flex-between" >
		               <div class="info flex-start">
		                   <span th:text="|작성자id = ${comment.commWriter}|">mk45118</span>
		                   <span th:text="|작성일자 = ${comment.commUdate}|">작성일자</span>
		               </div>
		               <!-- 추후 사용자 정보 비교해서 버튼 보이기 -->
		               <div class="btn-wrap flex-end">
		                   <a class="btn-border" href="javascript:;" onclick="CommUpdateForm(this)" th:text="수정">수정</a>
		                   <a class="btn-border" href="javascript:;" onclick="CommentDelete(this)" th:text="삭제">삭제</a>
		                   <a th:if="${comment.commUpid == comment.commId}" class="btn-border" href="javascript:;" onclick="CommentReplyAdd(this)" th:text="답글">답글</a>
		               </div>
		           </div>
		           <p class="content" th:text="|${comment.commCont}|">댓글 내용</p>
		       </li>
			</ul>
		    <div class="input-wrap flex-between">
		        <input autocomplete="off" type="text" id="commCont" name="commCont" placeholder="댓글을 입력하세요" >
		        <button class="btn-border bg-green"type="button" onclick="javascript:CommentAdd(this);">등록</button>
		    </div>
		</div>
		
	</section>
</body>
</html>