<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>댓글, 답글 테스트 페이지</title>
<script type="text/javascript">

/* 댓글 등록 버튼 */
function CommentAdd(){
	var frm = document.getElementById("frm");
	
	// AJAX 호출
	httpRequest = new XMLHttpRequest();
    httpRequest.open('POST', '/commentAdd', true);
    httpRequest.setRequestHeader('Content-Type', 'application/json');
    var data = {
    		commCont   : frm.commCont.value,
    		commWriter : frm.commWriter.value,
    		postId     : frm.postId.value
    };
    
    // 받는 타입을 정해주면 JSON 타입이 아니면 controller에서 넘겨줘도 못받음
    //httpRequest.responseType = "json";
    httpRequest.send(JSON.stringify(data));
    
    httpRequest.onreadystatechange = () => {
	    if (httpRequest.readyState === XMLHttpRequest.DONE) {
		     if (httpRequest.status === 200) {
		    	 // JSON 타입
		    	 console.log(httpRequest.response);
		    	 var result = JSON.parse(httpRequest.response);
		    	 console.log(result.commCont);
		    	 
		    	 const ul = document.getElementsByClassName("list-wrap")[0];
		    	 const li = document.createElement("li");
		    	 li.setAttribute('commId',result.commId);
		    	 li.innerHTML = '<span>'+ result.commCont +'</span>'
		    	 			  + '<span> '+ result.commUwriter +'</span>' 
		    	 			  + '<span> '+ result.commUdate +' </span>'
		    	 			  + '<button type="button">답글</button>&nbsp;'
		    	 			  + '<button id="deleteBtn" type="button" onclick="javascript:CommentDelete(this);">삭제</button>&nbsp;'
		    	 			  + '<button id="updateFormBtn" type="button" onclick="javascript:CommUpdateForm(this);">수정</button>';
		    	 ul.appendChild(li);
		    	 frm.commCont.value = "";
		     } else { 
		    	 alert("실패"); 
		     }
		}
	} 	// AJAX 호출 END
} 	// function 댓글 등록 END


/* 댓글 삭제 버튼 */
function CommentDelete(e){
	
	const li = e.parentNode;
	const commId = li.getAttribute( 'commId' );

	// AJAX 호출
	httpRequest = new XMLHttpRequest();
    httpRequest.open('delete', '/commentDelete', true);
    httpRequest.setRequestHeader('Content-Type', 'application/json');
    var data = {
    		commId : commId
    };
    
    httpRequest.send(JSON.stringify(data));
    
    httpRequest.onreadystatechange = () => {
	    if (httpRequest.readyState === XMLHttpRequest.DONE) {
		     if (httpRequest.status === 200) {
		    	 if(httpRequest.response){
		    		 li.remove();
		    	 }else {
		    		 alert("댓글 삭제 실패!");
		    	 };
		     } else { 
		    	 alert("ajax 연결 실패!"); 
		     }
		}
	} 	// AJAX 호출 END
}   // function 댓글 삭제 END


/* 댓글 수정 폼 생성 */
function CommUpdateForm(e){

	const li = e.parentNode;
	
	const commId = li.getAttribute( 'commId' );	
	const spanList = li.querySelectorAll("span");
	
	const commCont =  spanList[0].textContent;
	const commUwriter =  spanList[1].textContent;
	const commUdate =  spanList[2].textContent;
	
	li.innerHTML = '<form id="updateFrm"><textarea name="commCont">'+commCont+'</textarea>'
					+ '<input type="hidden" name="commUwriter" value="update_Popdo">'
					+ '<button id="updateBtn" type="button" onclick="javascript:CommUpdate(this);">댓글 수정</button>'
					+ '<button id="updateCancelBtn" type="button" onclick="javascript:UpdateCancel(this);">취소</button>'
					+'</form>';
}


/* 댓글 수정 */
function CommUpdate(e){
	console.log("댓글수정");
}

/* 댓글 수정 취소 */
function UpdateCancel(e){
	console.log("댓글수정 취소");
}

</script>
</head>
<body>
	<section>
		<div>
			<h2>Comment List</h2>
			<p th:text="${postId} + '번째 게시글'">해당되는 게시글이 존재하지 않습니다.<p>
		</div>
		<div class="comments">
			<ul>
		       <li th:each="comment : ${commList}" th:commId="${comment.commId}">
		           <div class="flex-between">
		               <div class="info flex-start">
		                   <span th:text="|작성자id = ${comment.commWriter}|">mk45118</span>
		                   <span th:text="|작성일자 = ${comment.commDate}|">작성일자</span>
		               </div>
		               <!-- 추후 사용자 정보 비교해서 버튼 보이기 -->
		               <div class="btn-wrap flex-end">
		                   <a class="btn-border" href="#" th:text="수정">수정</a>
		                   <a class="btn-border" href="#" th:text="삭제">삭제</a>
		               </div>
		           </div>
		           <p class="content" th:text="|${comment.commCont}|">댓글 내용</p>
		       </li>
			</ul>
		    <div class="input-wrap flex-between">
		        <input autocomplete="off" type="text" id="commCont" name="commCont" placeholder="댓글을 입력하세요" >
		        <button class="btn-border bg-green"type="button" onclick="javascript:CommentAdd();">등록</button>
		    </div>
		</div>
		
	</section>
</body>
</html>