<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 테스트 페이지</title>
</head>
<body>
	<section>
		<div>
			<h2>Post List</h2>
		</div>
		<div class="postList">
			<ul>
				<li>
					<a href="/comment?num=1">Home 첫시글 등록!</a>
				</li>
				<li>
					<a href="/comment?num=2">오늘의 날씨는 맑음</a>
				</li>
				<li>
					<a href="/comment?num=3">직장인의 삶이란..</a>
				</li>
				<li>
					<a href="/comment?num=4">출근하기 싫어</a>
				</li>
				<li>
					<a href="/comment?num=5">아무말이나 끄적끄적</a>
				</li>
			</ul>
		</div>
	</section>
</body>
</html>