<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
layout:decorate="~{layout/default_layout}">

<!-- 로컬 -->
<head>
	<!-- 링크디자인 -->
	<meta property="og:title" content="Homey : 내 집 같은, 편안한">
	<meta property="og:description" content="친구들끼리 서로의 집에 방문하여 소통해요!">
	<meta property="og:image" content="/img/Homey.png">

	<link rel="stylesheet" href="../../static/css/style.css">
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" href="../../static/css/homes.css">
	<script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>
	<!-- 구글폰트 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

</head>



<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/homes.css}">
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<body layout:fragment="content">
<div class="container">
	
	<h2 sec:authorize="isAuthenticated()">친구집 놀러가기♬</h2>
	<h2 sec:authorize="isAnonymous()">친구집에 놀러가려면 로그인이 필요해요♬</h2>
	
	<div sec:authorize="isAuthenticated()" class="search_div">
		<form th:action="@{/homes}" method="get">
		<label>집 검색 :</label> <input type="text" class="main_input" name="keyword"/><button class="main_search" type="submit">검색</button>
		</form>
	</div>
	

	
	<p th:if="${homes.size==0}" class="no-homes" >찾으시는 집이 없습니다.</p>
	
	<ul th:unless="${homes.size==0}"  class="flex-start" id="main-homelist">
		<li th:each="home : ${homes}">
			<a th:href="@{/homes/{id}(id=${home.homeid})}" >
				<div class="img-wrap">
					<img th:if="${home.attfid!=null}" th:src="|/images/main/${home.attfid}|" alt="">
			        <img th:if="${home.attfid==null}" src="/img/defaultHome.png" alt="">
			    </div>
			    <span class="username" th:text="${home.homename}">user1의 집</span>
			</a>
		</li>
	</ul>


</div>
</body>
</html>