<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout}">	
<head>
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="../../static/css/style.css">
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" th:href="@{/css/myPage.css}">
	<link rel="stylesheet" th:href="@{/css/myHome.css}">
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/myHome.js}" ></script>

</th:block>
<meta charset="UTF-8">

<title>마이홈수정</title>
</head>
<body layout:fragment="content">
	<div class = "container">
		<div class = "forstyle">
			<!-- <section>
				<div class="imgbox">
					<img th:if="${attach!=null}" class="upload2" alt="프로필_img" th:src="|/images/${attach.getATTF_SERNM()}|"/>
					<img th:unless="${attach!=null}" class="upload2" alt="프로필_img" src="/img/defaultHome.png"/>
				</div>
				<div class="img-btn-box">
					<button class="img-btn" onclick="imgReset(this)">Reset</button>
				</div>
				<form method="post" enctype="multipart/form-data" >
					<input id="uploadFile" type="file" class="real-upload" accept="image/*" required multiple style="display: none;">
					
				</form>
			</section> -->
			<section>
				<div class="content-wrap">
					<form th:action="@{|/homes/${homeId}/update|}" method="post" onsubmit="gowith()" enctype="multipart/form-data">
							<input type="hidden" id="attf_id" name="attfid" th:value="${home.attfid}">
							<input type="hidden" id="homeid" name="homeid" th:value="${home.homeid}">
							<input type="hidden" name="userid" th:value="${home.userid}">
							<input type="hidden" id="deleteAttach" name="deleteAttach" th:value="${home.deleteAttach}">
						<ul>
						<li>	
							<div class="imgbox">
								<img th:if="${home.attfid!=null}" th:src="|/images/${home.getAttf_obj().getATTF_SERNM()}|" alt="" class="upload">
								<img th:unless="${home.attfid!=null}" class="upload" alt="프로필_img" src="/img/defaultHome.png"/>
							</div>
							<div class="img-btn-box">
								<input type="file" name="attf_obj" id="uploadFile" class="real-upload" accept="image/*" multiple onchange="setThumbnail(event);" style="display: none;">
								<input type=button class="img-btn" onclick="imgReset(this)" value="Reset">
							</div>
						</li>
						
						
							<li><label>집이름 :</label> <input type="text" class="input" name="homename" th:value="${home.homename}" readonly="readonly"></li>
	
							<li><label>집설명 :</label> <input type="text" class="input" name="homeinst" th:value="${home.homeinst}" maxlength='300'></li>
	
							<li><label>테마 :</label> <input type="text" class="input" name="homethema" th:value="${home.homethema}"></li>
							
							<li><label>집 사용여부 :</label> <input type="radio" class="radio" name="homeuse" th:value="Y" th:checked="${home.homeuse eq 'Y'}"><label>Y</label>
							<input type="radio" name="homeuse" th:value="N" class="radio" th:checked="${home.homeuse eq 'N'}"><label>N</label>
							</li>
						</ul>
						
						<button type="submit" name="submit" class="btn-submit bg-green">수정</button>
					</form>
				</div>
			</section>
		</div>
	</div>
</body>
</html>