<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section id="postList">
		<h1>흔적 남기기</h1>
		<a class="btn-border bg-green" th:href="@{|/posts/${homeId}/new|}"
			th:text="등록">등록</a>
		<p th:if="${postList.size==0}" class="no-resultList">등록된 게시물이
			없습니다.</p>
		<ul th:unless="${postList.size==0}" class="list-wrap">
			<li th:each="post : ${postList}">
				<div class="content">
					<div class="info flex-start">
						<span th:text="|${post.POST_WRITER}|">작성자 id</span> <span
							th:if="${post.POST_UPDATE==null}" th:text="${post.POST_DATE}">최초
							작성일</span> <span th:unless="${post.POST_UPDATE==null}"
							th:text="${post.POST_UPDATE}">수정일</span>
					</div>
					<p th:text="${post.POST_CONT}">작성 내용</p>
					<div class="btn-wrap flex-end">
						<a class="btn"
							th:href="@{|/posts/${post.POST_HOME}/update/${post.POST_ID}|}"
							th:text="수정">수정</a>
						<form method="POST"
							th:action="@{|/posts/${post.POST_HOME}/delete/${post.POST_ID}|}">
							<input type="hidden" name="postId" id="postId"
								th:value="${post.POST_ID}" />
							<button class="btn" type="submit" name="submit">삭제</button>
						</form>
					</div>
				</div>

				<div class="comments"></div>
			</li>
		</ul>
	</section>

</body>
</html>