
<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout}">

<!-- 로컬 -->
<head>
	<link rel="stylesheet" href="../../static/css/style.css">
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" href="../../static/css/selectHome.css">

	<script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>
</head>

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/selectHome.css}">
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>	
	
<body id="selectHome" layout:fragment="content">
	<div class="container">
		<!-- 집주인 프로필 등 -->
		<section id="profile" class="flex-start">
			<div class="img-wrap">
				<img src="https://via.placeholder.com/100" alt="">
			</div>
			<div class="intro-wrap">
				<h1 th:text="${home.homename}">OOO의 집</h1>
				<p th:text="${home.homeinst}">OOO의 집에 오신 것을 환영합니다. OOO의 집에 오신 것을 환영합니다. OOO의 집에 오신 것을 환영합니다.</p>
			</div>
		</section>

		<section id="postList">
			<div class="section-header">
				<h1 class="section-title">흔적 남기기</h1>

				<a class="btn-new btn-border bg-green" th:href="@{|/posts/${homeId}/new|}"
					th:text="등록">등록</a>
			</div>


			<p th:if="${postList.size==0}" class="no-resultList">등록된 게시물이
				없습니다.</p>

			<ul th:unless="${postList.size==0}" class="list-wrap">
				<li th:each="post : ${postList}">
					<div class="content-wrap">
						<ul>
							<li class="flex-between">

								<div class="info flex-start">
									<span th:text="|작성자 id=${post.POST_WRITER}|">mk45118</span> 
									<span th:if="${post.POST_UPDATE==null}" th:text="|최초 작성일 ${post.POST_DATE}|">최초 작성일</span> 
									<span th:unless="${post.POST_UPDATE==null}" th:text="|수정일 ${post.POST_UPDATE}|">수정일</span>
								</div>

								<div class="btn-wrap flex-end">
									<a class="btn-border" th:href="@{|/posts/${post.POST_HOME}/update/${post.POST_ID}|}" th:text="수정">수정</a>
									<form method="POST" th:action="@{|/posts/${post.POST_HOME}/delete/${post.POST_ID}|}">
										<input type="hidden" name="POST_ID" id="POST_ID" th:value="${post.POST_ID}" />
										<button class="btn-border" type="submit" name="submit">삭제</button>
									</form>
								</div>


							</li>
							<li class="content">
								<p th:text="${post.POST_CONT}">오늘 점심에는 불고기 도시락을 먹었다.</p>
							</li>
							<li class="attf-name">
								<a href="#" th:if="${post.ATTF_OBJ!=null}" th:text="${post.ATTF_OBJ.ATTF_REALNM}">첨부파일명</a>
							</li>
						</ul>
						<!-- <div class="btn-wrap flex-end">
							<a class="btn-border bg-green" th:href="@{|/posts/${post.POST_HOME}/update/${post.POST_ID}|}" th:text="수정">수정</a>
							<form method="POST" th:action="@{|/posts/${post.POST_HOME}/delete/${post.POST_ID}|}">
								<input type="hidden" name="POST_ID" id="POST_ID" th:value="${post.POST_ID}" />
								<button class="btn-border bg-red" type="submit" name="submit">삭제</button>
							</form>
						</div> -->
					</div>
	
					<div class="comments">
						<!-- <ul th:if="${post.COMMENT_LIST!=null}"> -->
						<ul>
							<li th:each="comment : ${post.COMMENT_LIST}">
								<div class="flex-between">
									<div class="info flex-start">
										<span th:text="|작성자id = ${comment.commWriter}|">mk45118</span>
										<span th:text="|작성일자 = ${comment.commDate}|">작성일자</span>
									</div>
									<!-- 추후 사용자 정보 비교해서 버튼 보이기 -->
									<div class="btn-wrap flex-end">
										<a class="btn-border" href="#" th:text="수정">수정</a>
										<a class="btn-border" href="#" th:text="삭제">삭제</a>
										<!-- <form method="POST" th:action="">
											<input type="hidden" name="" id="" th:value="" />
											<button class="btn-border" type="submit" name="submit">삭제</button>
										</form> -->
									</div>
								</div>

								<p class="content" th:text="|${comment.commCont}|">댓글 내용</p>
							</li>
							<!-- 댓글 예시 -->
							<li>
								<div class="flex-between">
									<div class="info flex-start">
										<span >mk45118</span>
										<span >2022.09.13 오후 4시 21분</span>
									</div>
									<div class="btn-wrap flex-end">
										<a class="btn-border" href="#" th:text="수정">수정</a>
										<a class="btn-border" href="#" th:text="삭제">삭제</a>
										<!-- <form method="POST" th:action="">
											<input type="hidden" name="" id="" th:value="" />
											<button class="btn-border" type="submit" name="submit">삭제</button>
										</form> -->
									</div>
								</div>
								<p class="content" >오늘 점심 뭐 먹었어?</p>
							</li>
						</ul>
						<div class="input-wrap flex-between">
							<input autocomplete="off" type="text" id="commCont" name="commCont" placeholder="댓글을 입력하세요" >
							<button class="btn-border bg-green"type="button" onclick="">등록</button>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</div>


</body>
</html>