
<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default_layout}">

<!-- 로컬 -->
<head>
	<link rel="stylesheet" href="../../static/css/style.css">
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" href="../../static/css/selectHome.css">
	<link rel="stylesheet" href="../../static/css/selectHomeTheme224.css">
	<script src="https://kit.fontawesome.com/b638b1d7ed.js" crossorigin="anonymous"></script>

	<title th:text="${home.homename}"></title>
</head>

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/selectHome.css}">
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/comment.js}" ></script>
	<script type="text/javascript" th:src="@{/js/ajax.js}" ></script>
	<script src ="https://code.jquery.com/jquery-3.6.1.js"></script>
	<script type="text/javascript" th:src="@{/js/onload.js}" ></script>
</th:block>	
	
<body id="selectHome" class="theme224" layout:fragment="content">
	<!-- 생일 시 꽃가루 효과를 위한 canvas-->
	<canvas id="canvas" class="canvas"></canvas>
	<div class="container homethema">
		<!-- 집주인 프로필 등 -->
		<section  class="flex-between profile theme224">
			<div class="flex-start" style="width: 100%;">
				<div class="img-wrap">
					<img th:if="${attach!=null}" th:src="|/images/${attach.getATTF_SERNM()}|" alt="">
					<img src="/img/defaultHome.png" alt="">
				</div>
				<div class="intro-wrap">
					<div class="flex-between">
						<h1 th:text="${home.homename}" id="homename">OOO의 집</h1>
						<a th:if="${writer.user_id==home.userid}" class="btn-setting" th:href="@{|/homes/${home.homeid}/update|}"></a>	
						<!-- 생일확인을 위해 userid를 받는다. -->
						<input type="hidden" th:value="${home.userid}" id="for_birth">	
						<input type="hidden" th:value="${home.homethema}" id="homethema">	
					</div>
					<p th:if="${home.homeuse=='Y'}"  th:text="${home.homeinst}" id="birth_effect">OOO의 집에 오신 것을 환영합니다. OOO의 집에 오신 것을 환영합니다. OOO의 집에 오신 것을 환영합니다.</p>
				
					<p th:if="${home.homeuse=='N'}" ><B><I><font color="red">이 집은 사용하지 않는 집입니다.</font></I></B></p>
					
					<p th:if="${home.homeuse=='B'}" ><B><I><font color="red">이 집은 관리자에 의해 제한 된 집입니다.</font></I></B></p>
				</div>
			</div>
		</section>

		<section class="postList" th:if="${home.homeuse=='Y'} or ${writer.user_id==home.userid}">
			<div class="section-header">
				<h1 class="section-title">흔적 남기기</h1>

				<a class="btn-new btn-border bg-green" th:href="@{|/posts/${homeId}/new|}"
					th:text="등록">등록</a>
			</div>

			<p th:if="${postList.size==0}" class="no-resultList">등록된 게시물이
				없습니다.</p>
			
			<ul th:unless="${postList.size==0}" class="list-wrap">
				<li th:each="post : ${postList}">
					<div class="content-wrap">
						<ul>
							<li class="flex-between">
								<div class="info flex-start">
									<span id="commImg">
										<img th:if="${post.writerProfile != null}" th:src="|/images/${post.writerProfile.ATTF_SERNM}|" alt="">
										<img th:unless="${post.writerProfile != null}" src="/img/user_icon.png">
									</span>
									<span th:text="|작성자 ${post.writerNick}|"></span> 
									
									<span th:if="${post.POST_DATE==post.POST_UPDATE}" th:text="|최초 작성일 : ${#temporals.format(post.POST_DATE, 'yyyy-MM-dd HH:mm')}|">최초 작성일</span> 
									<span th:unless="${post.POST_DATE==post.POST_UPDATE}" th:text="|수정일 : ${#temporals.format(post.POST_UPDATE, 'yyyy-MM-dd HH:mm')}|">수정일</span>
								</div>							

								<div th:if="${writer.user_id==post.POST_WRITER || writer.user_id==home.userid || writer.userpower=='ROLE_ADMIN'}" class="btn-wrap flex-end">
									<a class="btn-border bg-white" th:href="@{|/posts/${post.POST_HOME}/update/${post.POST_ID}|}" th:text="수정">수정</a>
									<form method="POST" th:action="@{|/posts/${post.POST_HOME}/delete/${post.POST_ID}|}">
										<input type="hidden" name="POST_ID" id="POST_ID" th:value="${post.POST_ID}" />
										<button class="bg-white btn-border" type="submit" name="submit">삭제</button>
									</form>
								</div>
							</li>
							<li th:if="${post.getATTF_OBJ()!=null}">
								<div class="info flex-end">
									<span>첨부파일</span> 
									<a class="hypertext"  th:href="|/attach/${post.POST_ID}|" th:text="${post.getATTF_OBJ().getATTF_REALNM()}"></a>
								</div>
							</li>
							<li class="content">
								<p th:text="${post.POST_CONT}">오늘 점심에는 불고기 도시락을 먹었다.</p>
							</li>
							<li th:if="${post.ATTF_OBJ}" class="attf-name" >
								<div class="img-wrap">
									<img th:if="${post.getATTF_OBJ().isImage()}" th:src="|/images/${post.getATTF_OBJ().getATTF_SERNM()}|" alt="">
								</div>
							</li>
						</ul>
					</div>
	
					<div th:postId="${post.POST_ID}" class="comments">
						<!-- <ul th:if="${post.COMMENT_LIST!=null}"> -->
						<ul>
							<li th:each="comment : ${post.COMMENT_LIST}" th:commId="${comment.commId}" th:commUpid="${comment.commUpid}" th:classappend="${comment.commUpid != comment.commId} ? 'replyContent'">
								<div class="flex-between">
									<div class="info flex-start">
										<span id="commImg">
											<img th:if="${comment.ATTF_OBJ != null}" th:src="|/images/${comment.ATTF_OBJ.ATTF_SERNM}|" alt="">
											<img th:unless="${comment.ATTF_OBJ != null}" src="/img/user_icon.png">
										</span>
										<span th:text="| ${comment.userNick}|">작성자</span>
										<span th:text="${#dates.format(comment.commUdate, 'yyyy-MM-dd HH:mm')}">작성일자</span>
									</div>
									<!-- 추후 사용자 정보 비교해서 버튼 보이기 -->
									<div class="btn-wrap flex-end">
										<a th:if="${writer.user_id==comment.commWriter}" class="btn-border bg-white" href="javascript:;" onclick="CommUpdateForm(this)" th:text="수정">수정</a>
										<a th:if="${writer.user_id==comment.commWriter}" class="btn-border bg-white" href="javascript:;" onclick="CommentDelete(this)" th:text="삭제">삭제</a>
										<a id="replyBtn" th:if="${comment.commUpid == comment.commId}" class="btn-border bg-white" href="javascript:;" onclick="CommentReplyAdd(this)" th:text="답글">답글</a>
									</div>
								</div>
								<p class="content" th:text="|${comment.commCont}|">댓글 내용</p>
							</li>
						</ul>
						<div class="input-wrap flex-between">
							<input autocomplete="off" type="text" id="commCont" name="commCont" placeholder="댓글을 입력하세요" maxlength='450'>
							<button class="btn-border bg-green"type="button" onclick="javascript:CommentAdd(this);">등록</button><span id="commLength">0 /450 Byte</span>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</div>
	<div>
		<input type="hidden" id="writer" th:value="${writer.user_id}">
	</div>

</body>
</html>